*{
    margin: :0;
    padding:0;
}
nav{
    background: rgb(133, 45, 133);
    width: 100%;
    height: 50px;
}
header{
    background:linear-gradient(to bottom right,rgba(141, 13, 98, 0),rgb(255, 172, 217));
    height: 500px;
}
aside{
    float: left;
    width: 20%;
    height: 700px;
    background: rgb(133, 45, 133);
}
article{
    float: left;
    width: 70%;
    height: 700px;
    background:rgb(255, 0, 0);
}
section{
    float: right;
    width: 10%;
    height: 200px;
    background:rgb(111, 0, 255);
}
.section1{
    float: right;
    width: 10%;
    height: 167px;
    background:rgb(202, 90, 183);
    
}
.section2{
    float: right;
    width: 10%;
    height: 167px;
    background:rgb(211, 148, 123);
    
}
.section3{
    float: right;
    width: 10%;
    height: 167px;
    background:rgb(228, 179, 216);
    
}
footer{
    clear: both;
    width: 100%;
    height: 100px;
    background: grey;
}